@model CS_project_MVC_Classwork_1B.DTO.ForecastDto

<h2>City Weather</h2>
<form method="post">
	<input type="text" name="name" placeholder="City" />
	<button type="submit">Send</button>
</form>

@if(ViewBag.Error !=null)
{
	<p style="color:red">@ViewBag.Error </p>
}

@if(Model != null )
{
	<hr />
	<h3>@ViewBag.Place</h3>
	<p>Coordinate: @Model.Latitude , @Model.Longtude</p>

}
