@model CS_project_MVC_Classwork_1.Models.Product

<h2>Product Details</h2>

<p><b>ID: </b> @Model.Id</p>
<p><b>Name: </b> @Model.Name</p>
<p><b>Description: </b> @Model.Description</p>
<p><b>Price: </b> @Model.Price</p>
